#item1 { color: red; }
#item2 { color: orange; }
#item3 { color: yellow; }
#item4 { color: green; }
#item5 { color: blue; }
#item6 { color: navy; }
#item7 { color: purple; }
#item8 { color: brown; }
#item9 { color: black; }
