.counterValue {
  font-size: 50px;
  font-weight: bold;
}

.counterController{
  margin-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.counterController button{
  width: 40px;
  height: 40px;
  font-size: 20px;
}