.categoryList {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  font-size: 18px;
}

.categoryList li {
  color: #95a5a6;
  cursor: pointer;
}

.categoryList li.selected {
  font-weight: bold;
  color: black;
}
.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
}
.productListItem {
  width: 200px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}

.productListItem img {
  width: 200px;
  height: 200px;
}

.productInfo {
  padding: 12px;
}

.productCategory {
  font-size: 12px;
  color: #7f8c8d;
}

.productName {
  margin-top: 8px;
}

.productPrice {
  margin-top: 8px;
  font-weight: bold;
}
