.trackerInfo{
    font-size: 20px;
}

.trackerArea {
    position: relative;
    margin-top: 20px;
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bdc3c7;
}
.trackerBall{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
}
.clickedBall{
    position: absolute;
    border: 2px solid #2ecc71;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}